@import './constants.less';

:global(#__next) {
  overflow-x: hidden;

  // overwrite antd
  :global(.ant-btn:not(.ant-btn-icon-only)) {
    height: unset;
    font-weight: bold;
  }

  // share class
  * {
    margin: 0px;
    color: inherit;

    &::selection {
      color: inherit;
      background: inherit;
    }
  }

  :global(.card) {
    padding: 24px 40px;
    box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
  }

  // pages
  .root {
    padding: @PADDING_TOP @PADDING_LEFT;
  }

  .copyright {
    padding: 32px 0px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.45);
    text-align: center;

    & > a {
      margin: 0px 40px 0px 0px;
    }
  }
}
