@PADDING_TOP: 60px;
@PADDING_LEFT: 74px;

:global(#__next) {
  // overwrite antd
  :global(.ant-btn:not(.ant-btn-icon-only)) {
    height: unset;
  }

  :global(.mapboxgl-popup-tip) {
    display: none;
  }

  :global(.map-pop) {
    :global(.mapboxgl-popup-content) {
      padding: 8px 12px;
      color: white;
      background: rgba(0, 0, 0, 0.75);
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    }

    ol {
      padding: 0px 0px 0px 14px;
    }
  }

  // share class
  * {
    margin: 0px;
    color: inherit;

    &::selection {
      color: inherit;
      background: inherit;
    }
  }

  .card {
    padding: 24px 40px;
    box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);
  }

  .button {
    font-weight: bold;
  }

  // pages
  .header {
    display: flex;
    justify-content: space-between;
    padding: 24px 50px;
    color: #ffffff;
    background: #2ed3e9;

    .info {
      font-size: 24px;
      font-weight: bold;
    }

    .button {
      padding: 12px 32px;
    }
  }

  .headerImg {
    position: relative;

    .info {
      position: absolute;
      top: 0px;
      left: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: #ffffff;

      h1 {
        text-align: center;
        font-size: 48px;
        font-weight: 900;
      }

      h4 {
        margin: 34px 0px 70px;
        font-size: 16px;
      }

      .button {
        padding: 20px 50px;
        font-size: 20px;
      }
    }

    .map {
      width: 100%;
      background: #2ed3e9;
    }
  }

  .root {
    padding: @PADDING_TOP @PADDING_LEFT 0px;

    .card {
      h3 {
        font-size: 14px;
        line-height: 1.7;
        color: rgba(0, 0, 0, 0.45);
      }

      p {
        font-size: 28px;

        font {
          margin: 0px 0px 0px 5px;
          font-size: 14px;
        }
      }
    }

    .map {
      margin: @PADDING_TOP 0px;

      :global(#map) {
        height: 450px;
      }

      .area {
        font-size: 20px;

        ol {
          margin: 35px 0px 0px;
          padding: 0px 0px 0px 20px;
        }
      }
    }

    .color-0 {
      background: #ff6666;
    }

    .color-1 {
      background: #f99246;
    }

    .color-2 {
      background: #f9d22f;
    }

    .color-3 {
      background: #a4d629;
    }

    .color-4 {
      background: #42b037;
    }

    .color-5 {
      background: #1fcc96;
    }

    .color-6 {
      background: #2ed3e9;
    }

    .color-7 {
      background: #2e90e8;
    }

    .color-8 {
      background: #ab72dd;
    }

    .color-9 {
      background: #ff5faf;
    }

    .transportation {
      margin: 50px 0px 10px;
      display: flex;
      font-size: 12px;

      .bar {
        display: flex;
        flex-grow: 1;
        margin: 0px 0px 0px 8px;
        text-align: center;
        color: #ffffff;
      }
    }

    .symbol {
      width: 100%;
      text-align: right;

      span {
        display: inline-block;
        margin: 0px 5px 0px 0px;
        width: 11px;
        height: 11px;
      }

      & > div {
        display: inline-block;

        &:not(:last-child) {
          margin: 0px 10px 0px 0px;
        }
      }
    }

    .usersHeader {
      position: relative;
      font-size: 36px;
      font-weight: bold;

      .text {
        position: absolute;
        top: 23px;
      }
    }
  }

  .carousel {
    font-size: 18px;

    .cardWrapper {
      padding: 15px;

      .card {
        padding: 24px 40px;

        & > * {
          font-size: inherit;
        }

        h1 {
          color: #fabf3e;
        }

        .icon {
          margin: 0px 5px;
        }

        h3 {
          margin: 5px 0px;
          color: #2ed3e9;
        }

        & > div {
          display: flex;

          & > p:first-child {
            margin: 0px 5px 0px 0px;
          }
        }
      }
    }
  }

  .carouselButtons {
    padding: 10px @PADDING_LEFT @PADDING_TOP;

    :global(.ant-btn) {
      width: 64px;
      height: 64px;
      font-size: 25px;
      color: #2ed3e9;
      border: 0px;
      box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);

      &:hover {
        color: #ffffff;
        background: #2ed3e9;
      }

      &:first-child {
        margin: 0px 10px 0px 0px;
      }
    }
  }

  .copyRight {
    margin: 8px 0px 0px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.45);
    text-align: right;
  }
}
