// overwrite antd
:global(#__next) {
  :global(.ant-btn) {
    height: unset;
  }

  h2, h4 {
    color: inherit;

    &::selection {
      background: inherit;
    }
  }
}

// pages
.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 50px;
  color: #ffffff;
  background: #2ed3e9;

  .button {
    padding: 12px 32px;
  }
}

.owner {
  line-height: 1.5;

  & > h2 {
    margin: 0px;
    font-size: 24px;
  }

  & > h4 {
    margin: 0px;
    font-size: 12px;
  }
}

.mapImg {
  width: 100%;
  background: #2ed3e9;
}
