:global(#__next) {
  // overwrite antd
  :global(.ant-btn) {
    height: unset;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  font {
    margin: 0px;
    color: inherit;

    &::selection {
      color: inherit;
      background: inherit;
    }
  }

  // pages
  .header {
    display: flex;
    justify-content: space-between;
    padding: 24px 50px;
    color: #ffffff;
    background: #2ed3e9;

    .owner {
      line-height: 1.5;

      h2 {
        font-size: 24px;
      }

      h4 {
        font-size: 12px;
      }
    }

    .button {
      padding: 12px 32px;
    }
  }

  .headerImg {
    position: relative;

    .info {
      position: absolute;
      top: 0px;
      left: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: #ffffff;

      h1 {
        font-size: 48px;
      }

      h4 {
        margin: 34px 0px 70px;
        font-size: 16px;
      }

      .button {
        padding: 20px 50px;
        font-size: 20px;
      }
    }

    .map {
      width: 100%;
      background: #2ed3e9;
    }
  }

  .root {
    padding: 60px 74px;

    .card {
      padding: 24px 40px;
      box-shadow: 0 8px 20px 0 rgba(224, 224, 224, 0.5);

      h3 {
        font-size: 14px;
        line-height: 1.7;
        color: rgba(0, 0, 0, 0.45);
      }

      p {
        font-size: 28px;

        font {
          margin: 0px 0px 0px 5px;
          font-size: 14px;
        }
      }
    }
  }
}
