.header {
  padding: 24px 50px;
  color: #ffffff;
  background: #2ed3e9;
}

.owner {
  line-height: 1.5;

  & > h2 {
    margin: 0px;
    font-size: 24px;
    color: inherit;
  }

  & > h4 {
    margin: 0px;
    font-size: 12px;
    color: inherit;
  }
}

.mapImg {
  width: 100%;
  background: #2ed3e9;
}
